
* {
    box-sizing: border-box;
}

.jogo {
    padding: 50px;
}

.jogo {
    display: flex;
    justify-content: space-between;

    height: 60%;
    width: 100%;
}

.jogo img{
    width: 400px;
    height: 468px;
}

.config button {
    width: 200px;
    height: 60px;
    background-color: #27AE60;

    color: #FFFFFF;
    border: none;
    margin-left: 150px;
    border-radius: 8px;
}

.config {
    width: 400px;
    height: 468px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.letras {
    width: 650px;
    margin-top: 200px;
    margin: 25px auto;
    height: 120px;
    /* background-color: blue; */
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.underlines {
    width: 400px;
    height: 68px;

    font-size: 50px;
    font-weight: 700px;
}

.letras button{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}

.vermelho {
    color: red;
}

.verde {
    color: green;
}

.chute{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.chute input{
    width: 230px;
    height: 50px;
    text-align: center;
}

.chute button{
    width: 100px;
}

@media(max-width: 415px){

    .underlines{
        width: 100%;
        height: 60px;
    }

    .jogo{
        width: 100%;
        height: 500px;
        text-align: start;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .config{
        width: 300px;
        height: 250px;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;

    }
    .jogo img{
        width: 300px;
        height: 320px;
    }
    .config button{
        width: 300px;
        height: 30px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .letras{
        width: 300px;
        height: auto;
        margin-top: 40px;
    }
    .chute{
        margin-top: 20px;
    }
}
